# Visual Studio folder
.vs/
bin/
obj/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/
log/
logs/

# .NET Core
project.lock.json
artifacts/

# NuGet Packages
*.nupkg
*.snupkg

# Others
~$*
*~
CodeCoverage/
*.binlog

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
