<div class="container mt-4">
    <h4>Change Password</h4>
    <input id="currentPwd" type="password" class="form-control mb-2" placeholder="Current password" />
    <input id="newPwd" type="password" class="form-control mb-2" placeholder="New password" />
    <button id="btnChange" class="btn btn-primary">Change</button>
    <p id="msg" class="mt-2"></p>
</div>

<script>
    $("#btnChange").click(function(){
      const data = {    
        CurrentPassword: $("#currentPwd").val(),
        NewPassword: $("#newPwd").val()
      };
      $.ajax({
        url:'/Account/ChangePassword',
        method:'POST',
        data:JSON.stringify(data),
        contentType:'application/json',
        success:r=>$("#msg").text(r.message)
      });
    });
</script>
