@using CoreOne.DOMAIN.Models
@using CoreOne.UI.Controllers
@using CoreOne.UI.Helper
@inject MenuLayoutController MenuController
@inject IHttpContextAccessor HttpContextAccessor
@{

    var userId = TokenHelper.GetUserIdFromToken(HttpContextAccessor.HttpContext);
    bool TokenExpiry = TokenHelper.IsTokenValid(HttpContextAccessor.HttpContext);
    var menuItems = new List<MenuItem>();
    User user = new User();
    if (!userId.HasValue || !TokenExpiry)
    {
        TempData["message"] = "Please Login again";
        TempData["messagetype"] = "error";
        // Redirect to login if userId is null
        HttpContextAccessor.HttpContext.Response.Redirect("/Account/Login");
        // Don't return; let the layout render a minimal page
    }
    else
    {
        var TokenUser = TokenHelper.UserFromToken(Context);
        // Load menu
        if (TokenUser is not null)
        {
            user = TokenUser;
        }
        menuItems = await MenuController.UserMenu(Context);
        if (menuItems.Count == 0)
        {
            // Redirect to login if userId is null
            HttpContextAccessor.HttpContext.Response.Redirect("/Account/Login");
        }



    }
    // Group menu items by Parent
    // Group items by ParentID (i.e., top-level menu sections)
    var groupedMenu = menuItems
        .GroupBy(m => new { m.ParentID, m.ParentName, m.ParentSequence, m.MenuSymbol })
        .OrderBy(g => g.Key.ParentSequence ?? 0)
        .ToList();

}



<div class="page-title-box">
    <div class="page-title-right">
        <form class="d-flex align-items-center mb-3">
            <div class="input-group input-group-sm">
                <input type="hidden" class="form-control border-0 shadow flatpickr-input" id="dash-daterange" value="2025-10-27"><input class="form-control border-0 shadow input active" placeholder="" tabindex="0" type="text" readonly="readonly">
                <span class="input-group-text bg-primary border-primary text-white">
                    <i class="mdi mdi-calendar-range"></i>
                </span>
            </div>
            <a href="/Home/AdminDashboard" class="btn btn-primary btn-sm ms-2">
                <i class="mdi mdi-autorenew"></i>
            </a>

            <a href="javascript: void(0);" class="btn btn-primary btn-sm ms-1">
                <i class="mdi mdi-filter-variant"></i>
            </a>
        </form>
    </div>
    <h4 class="page-title">Welcome ! @user.UserName</h4>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function () {
        const today = new Date().toISOString().split("T")[0];

        document.getElementById("dash-daterange").value = today;
        document.querySelector(".input-group input[type='text']").value = today;
    });
</script>
